@model IEnumerable<MvcProject1.Models.ViewModels.AuthorViewModel>

@{
    ViewData["Title"] = "Yazar Listesi";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Doğum Tarihi</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td>@author.FullName</td>
                <td>@author.DateOfBirth.ToString("yyyy-MM-dd")</td>
                <td>
                    <a href="@Url.Action("Details", "Author", new { id = author.Id })" class="btn btn-info">Detaylar</a>
                    <a href="@Url.Action("Edit", "Author", new { id = author.Id })" class="btn btn-warning">Düzenle</a>
                    <a href="@Url.Action("Delete", "Author", new { id = author.Id })" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("Create", "Author")" class="btn btn-primary">Yeni Yazar Ekle</a>
